<link rel="stylesheet" type="text/css" href="/css/trang_chu.css" />

<script>
    function handleLocationInput() {
        let form_control = event.target
            .parentNode.parentNode.querySelector('input');
        let text = event.target.innerHTML;
        form_control.value = text.trim();
    }
    function swapLocationInput() {
        let first_input = event.target
            .parentNode.querySelector('#starting-form').querySelector('input'); 
        let second_input = event.target
            .parentNode.querySelector('#destination-form').querySelector('input');
        var temp = first_input.value;
        first_input.value = second_input.value;
        second_input.value = temp;
    }
</script>

<!-- Hero Start -->
<div class="hero m-auto" >
    <!-- Ticket booking section -->
    <div class="container">
        <h2 class="hero-title text-center">Đi khắp mọi miền Tổ quốc bằng xe buýt</h2>
        <form class="container hero-search" action="/timkiem" method="GET">
            <!-- Current transporation -->
            <div class="hero-search-top">
                <button class="btn btn-light" id="btn-bus">Xe khách</button>
            </div>
            <!-- Input section -->
            <div class="row hero-search-bottom">
                <!-- Input starting point -->
                <div class="col-3 dropdown" id="starting-form">
                    <input 
                        class="form-control dropdown-toggle" 
                        data-bs-toggle="dropdown"
                        type="text"
                        placeholder="Tỉnh, thành phố nơi đi"
                        autocomplete="off"
                        value="{{diem_di}}"
                        name="diemdi"
                        required
                    >
                    <div class="dropdown-menu dropdown-menu-start dropdown-input">
                        <h4 class="dropdown-header">Tỉnh - Thành phố</h4>
                        {{#each dia_diems}}
                        <a class="dropdown-item" value="{{name}}" onclick="handleLocationInput()">
                            {{name}}
                        </a>
                        {{/each}}
                    </div>
                </div>
                <!-- Swap starting point and destination point -->
                <button class="col-1 btn btn-light" type="button" id="btn-swap">
                    <i class="fas fa-exchange-alt"></i>
                </button>
                <!-- Input destination point -->
                <div class="col-3 dropdown" id="destination-form">
                    <input 
                        class="form-control dropdown-toggle" 
                        data-bs-toggle="dropdown" 
                        type="text" 
                        placeholder="Tỉnh, thành phố nơi đến"
                        autocomplete="off"
                        value="{{diem_den}}"
                        name="diemden"
                        required
                    >
                    <div class="dropdown-menu dropdown-menu-start dropdown-input">
                        <h4 class="dropdown-header">Tỉnh - Thành phố</h4>
                        {{#each dia_diems}}
                        <a class="dropdown-item" value="{{name}}" onclick="handleLocationInput()">
                            {{name}}
                        </a>
                        {{/each}}
                    </div>
                </div>
                <!-- Input departure date -->
                <div class="col-3" id="input-date">
                    <input class="form-control" type="date" value="{{ngay_di}}" name="ngaydi" required>
                </div>
                <button class="col-2 btn btn-primary" type="submit" id="btn-submit">
                    <a class= "d-inline">Tìm vé</a>
                </button>   
            </div>
        </form>
    </div>
</div>
<!-- Hero End -->

<!-- Unique Selling Proposition start -->
<div class="usp">
    <div class="container">
        <div class="row">
            <div class="col-4" id="usp-header">
                <h1 id="usp-title">Nền tảng kết nối người dùng và nhà xe</h1>
            </div>
            <ul class="col-8" id="usp-list">
                <li class="row usp-list-item">
                    <i class="col-4 fas fa-bus text-center"></i>
                    <div class="col-8 usp-list-item-text">
                        <h4>Nhà xe chất lượng cao</h4>
                        <p>5000+ tuyến đường trên toàn quốc, chủ động và đa dạng lựa chọn</p>
                    </div>
                </li>
                <li class="row usp-list-item">
                    <i class="col-4 fas fa-ticket-alt text-center"></i>
                    <div class="col-8 usp-list-item-text">
                        <h4>Đặt vé dễ dàng</h4>
                        <p>Đặt vé chỉ với 60s. Chọn chuyến xe yêu thích cực nhanh và thuận tiện</p>
                    </div>
                </li>
                <li class="row usp-list-item">
                    <i class="col-4 fas fa-check-circle text-center"></i>
                    <div class="col-8 usp-list-item-text">
                        <h4>Đảm bảo có vé</h4>
                        <p>Hoàn ngay 150% nếu không có vé, mang đến hành trình trọn vẹn</p>
                    </div>
                </li>
                <li class="row usp-list-item">
                    <i class="col-4 fas fa-users text-center"></i>
                    <div class="col-8 usp-list-item-text">
                        <h4>Khách hàng là trên hết</h4>
                        <p>Đảm bảo mọi chuyến xe an toàn, uy tín và đúng giờ</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Unique Selling Proposition end -->

<!-- Featured destinations list start -->
<div class="fdl">
    <div class="container">
        <div class="fdl-header">
            <h1 class="fdl-title">Những điểm đến nổi bật</h1>
            <p>Những tỉnh thành dưới đây sẽ mang đến cho quý khách những chuyến đi đáng nhớ</p>
        </div>
        <div class="row">
            <div class="col-7">
                <div class="row">
                    <div class="col-4 fdl-item">
                        <div class="card">
                            <img class="card-img" src="/img/dia_diem/saigon.jpg" alt="">
                            <div class="card-body">
                                <p class="card-label">Sài Gòn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 fdl-item">
                        <div class="card">
                            <img class="card-img" src="/img/dia_diem/dalat.jpg" alt="">
                            <div class="card-body">
                                <p class="card-label">Đà Lạt</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 fdl-item">
                        <div class="card">
                            <img class="card-img" src="/img/dia_diem/danang.jpg" alt="">
                            <div class="card-body">
                                <p class="card-label">Đà Nẵng</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 fdl-item">
                        <div class="card">
                            <img class="card-img" src="/img/dia_diem/sapa1.jpeg" alt="">
                            <div class="card-body">
                                <p class="card-label">Sa Pa</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 fdl-item">
                        <div class="card">
                            <img class="card-img" src="/img/dia_diem/hue.jpg" alt="">
                            <div class="card-body">
                                <p class="card-label">Huế</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 fdl-item">
                        <div class="card">
                            <img class="card-img" src="/img/dia_diem/halong.jpg" alt="">
                            <div class="card-body">
                                <p class="card-label">Quảng Ninh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 fdl-item">
                <div class="card main-card h-100">
                    <img class="card-img" src="/img/dia_diem/hanoi.jpg" alt="">
                    <div class="card-body">
                        <h1 class="card-label">Hà Nội</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured destinations list end -->