<link rel="stylesheet" type="text/css" href="/css/nha_xe.css" />

<!-- Operator section start -->
<div class="operator">
    <div class="container">
        <div class="row">
            {{#with nha_xe}}
            <div class="operator-info shadow-sm">
                <div class="row operator-info-header">
                    <div class="col operator-info-header-start">
                        <!-- Operator name | Tên nhà xe -->
                        <h3>{{ten_Nha_Xe}}</h3>
                        <!-- Office address | Địa chỉ văn phòng chính -->
                        <p>{{Dia_Chi}}</p>
                    </div>
                    <div class="col operator-info-header-end">
                        {{{generateStarList stars}}}
                        <div>
                            <span class="operator-stars">
                                <i class="fa-solid fa-star"></i>{{toFixed stars 1}}
                            </span class="operator-review-count">
                            <span>{{Danh_Gia.length}} đánh giá</span>
                        </div>
                    </div>
                </div>
                <!-- Images | Hình ảnh -->
                <div class="row">
                    <div id="carousel-container" class="carousel slide d-flex align-items-center" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {{#each Nha_Xe_IMGs}}
                            {{#if @first}}
                            <button type="button" data-bs-target="#carousel-container" data-bs-slide-to={{@index}} class="active" aria-current="true"></button>
                            {{else}}
                            <button type="button" data-bs-target="#carousel-container" data-bs-slide-to={{@index}}></button>
                            {{/if}}
                            {{/each}}
                        </div>
                        <div class="carousel-inner">
                            {{#each Nha_Xe_IMGs}}
                            {{#if @first}}
                            <div class="carousel-item active">
                            {{else}}
                            <div class="carousel-item">
                            {{/if}}
                                <img src="{{imgPath}}" class="d-block w-100" alt="...">
                            </div>
                            {{/each}}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-container" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-container" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- Information | Thông tin -->
                    <div class="row">
                        <div class="operator-info-item">
                            <h4>Giới thiệu nhà xe</h4>
                            <p>{{{Mo_ta}}}</p>
                        </div>
                        <div class="operator-info-item">
                            <h4>Liên lạc</h4>
                            <p>Số điện thoại: {{SDT}}</p>
                        </div>
                    </div>
                    <!-- Review | Đánh giá -->
                    <div class="reviews container">
                        <h4>Đánh giá từ người dùng</h4>
                        <p>{{Danh_Gia.length}} đánh giá</p>
                        {{#each Danh_Gia}}
                        <div class="reviews-submitted">
                            <div class="reviewer">
                                <strong>{{Khach_Hang.username}}</strong> - <span>{{createdAt}}</span>
                            </div>
                            {{{generateStarList stars}}}
                            <p class="reviews-comment">{{Noi_Dung}}</p>
                        </div>
                        {{/each}}
                        <div class="reviews-submit">
                            <h4>Để lại đánh giá</h4>
                            <form action="/nhaxe/danhgia" method="post">
                                <input type="hidden" name="nhaXeId" value="{{id}}"></input>
                                <div class="stars">
                                    <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
                                    <label class="star star-1" for="star-1"></label>
                                </div>
                                <div class="row form">
                                    {{!-- <div class="col-sm-12">
                                        <input class="reviews-input" type="text" placeholder="ID" name="khachHangId" required>
                                    </div> --}}
                                    <div class="col-sm-12">
                                        <textarea class="reviews-textarea" placeholder="Comment" name="comment" required></textarea>
                                    </div>
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
</div>