<link rel="stylesheet" type="text/css" href="/css/tim_kiem.css" />


<div class="body">
    <form class="container hero-search" action="/timkiem" method="GET">
        <h4>Vé xe khách > {{diem_di}} - {{diem_den}}</h4>
        <h4>Số chuyến xe: {{chuyen_xes.length}}</h4>
        <!-- Input section start -->
        <div class="row hero-search-bottom">
            <!-- Input starting point -->
            <div class="col-3 dropdown" id="starting-form">
                <div class="row ps-3">
                    <div class="col-2 d-flex justify-content-center align-items-center input-icon">
                        <i class="fa-solid fa-location-dot" style="color: blue;"></i>
                    </div>
                    <div class="col-10 p-0">
                        <input 
                            class="form-control dropdown-toggle" 
                            data-bs-toggle="dropdown"
                            type="text"
                            autocomplete="off"
                            value="{{diem_di}}"
                            placeholder="Điểm đi"
                            name="diemdi"
                            required
                        >
                        <div class="dropdown-menu dropdown-menu-start dropdown-input">
                            <h4 class="dropdown-header">Tỉnh - Thành phố</h4>
                            {{#each dia_diems}}
                            <a class="dropdown-item" value="{{name}}" onclick="handleLocationInput()">
                                {{name}}
                            </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swap starting point and destination point -->
            <button class="col-1 btn btn-light" type="button" id="btn-swap" disabled>
                {{!-- <i class="fas fa-exchange-alt"></i> --}}
                <i class="fa-solid fa-right-long"></i>
            </button>
            <!-- Input destination point -->
            <div class="col-3 dropdown" id="destination-form">
                <div class="row">
                    <div class="col-2 d-flex justify-content-center align-items-center input-icon">
                        <i class="fa-solid fa-location-dot" style="color: red;"></i>
                    </div>
                    <div class="col-10 ps-0">
                        <input 
                            class="form-control dropdown-toggle" 
                            data-bs-toggle="dropdown" 
                            type="text" 
                            autocomplete="off"
                            value="{{diem_den}}"
                            placeholder="Điểm đến"
                            name="diemden"
                            required
                        >
                        <div class="dropdown-menu dropdown-menu-start dropdown-input">
                            <h4 class="dropdown-header">Tỉnh - Thành phố</h4>
                            {{#each dia_diems}}
                            <a class="dropdown-item" value="{{name}}" onclick="handleLocationInput()">
                                {{name}}
                            </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Input departure date -->
            <div class="col-3" id="input-date">
                <input class="form-control" type="date" value="{{ngay_di}}" name="ngaydi" required>
            </div>
            <button class="col-2 btn btn-primary" type="submit" id="btn-submit">
                <a class= "d-inline">Tìm vé</a>
            </button>   
        </div>
        <!-- Input section end -->

        <!-- Filter & Listing section start -->
        <div class="container">
            <div class="row" id="main">
                <div class="col-3 filter" id="main-left">
                    <div id="filter">
                        <div class="filter-head d-flex align-items-center">
                            <span>Bộ lọc</span>
                        </div>
                        <div class="filter-section d-flex flex-column">
                            <div class="filter-label d-flex align-items-center">
                                <a data-bs-toggle="collapse" href="#filter-time" role="button" aria-controls="filter-time"><i class="fa-solid fa-caret-down"></i> Giờ đi</a>
                            </div>
                            <div class="collapse" id="filter-time">
                                <div class="filter-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio" name="filterTime" group="filterTime" value="dawn">
                                    <label class="form-check-label">Sáng sớm</label>
                                </div>
                                <div class="filter-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio" name="filterTime" group="filterTime" value="morning">
                                    <label class="form-check-label">Buổi sáng</label>
                                </div>
                                <div class="filter-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio" name="filterTime" group="filterTime" value="evening">
                                    <label class="form-check-label">Buổi chiều</label>
                                </div>
                                <div class="filter-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio" name="filterTime" group="filterTime" value="night">
                                    <label class="form-check-label">Buổi tối</label>
                                </div>
                            </div>
                        </div>
                        <div class="filter-section d-flex flex-column">
                            <div class="filter-label d-flex align-items-center">
                                <a data-bs-toggle="collapse" href="#filter-price" role="button" aria-controls="filter-price"><i class="fa-solid fa-caret-down"></i> Giá vé</a>
                            </div>
                            <div class="collapse" id="filter-price">
                                <div class="filter-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio" name="filterPrice" group="filterPrice" value="pricerange1">
                                    <label class="form-check-label">Dưới 250k</label>
                                </div>
                                <div class="filter-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio" name="filterPrice" group="filterPrice" value="pricerange2">
                                    <label class="form-check-label">250k-500k</label>
                                </div>
                                <div class="filter-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio" name="filterPrice" group="filterPrice" value="pricerange3">
                                    <label class="form-check-label">500k-1tr</label>
                                </div>
                                <div class="filter-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio" name="filterPrice" group="filterPrice" value="pricerange4">
                                    <label class="form-check-label">Trên 1tr</label>
                                </div>
                            </div>
                        </div>
                        <div class="filter-section d-flex flex-column">
                            <div class="filter-label d-flex align-items-center">
                                <a data-bs-toggle="collapse" href="#filter-nhaxe" role="button" aria-controls="filter-nhaxe"><i class="fa-solid fa-caret-down"></i> Nhà xe</a>
                            </div>
                            <div class="collapse" id="filter-nhaxe">
                                {{#each nha_xes}}
                                <div class="filter-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio" name="nhaxe" group="nhaxe" value="{{ten_Nha_Xe}}">
                                    <label class="form-check-label">{{ten_Nha_Xe}}</label>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9" id="main-right">
                    <div class="row d-flex align-items-center" id="sort">
                        <span class="sort-head col-2">
                            Sắp xếp theo
                        </span>
                        <div class="col-3">
                            <select class="form-select" aria-label="Default select example" name="sortTime">
                                <option selected disabled>Tất cả</option>
                                <option value="earliest">Giờ đi sớm nhất</option>
                                <option value="latest">Giờ đi trễ nhất</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select class="col-2 form-select" aria-label="Default select example" name="sortPrice">
                                <option selected disabled>Tất cả</option>
                                <option value="priceASC">Giá tăng dần</option>
                                <option value="priceDESC">Giá giảm dần</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" id="result-list">
                        {{#each chuyen_xes}}
                        <div class="row result-item">
                            <div class="col-3 info-container d-flex align-items-center">
                                <img class="m-auto result-img" src="/img/chuyen_xe/phuongtrang1.jpg" alt="">
                            </div>
                            <div class="col-6 info-container d-flex flex-column justify-content-center">
                                <div class="d-flex">
                                    <a class="operator-name" href="/nhaxe/{{Xe.Nha_Xe.id}}">{{Xe.Nha_Xe.ten_Nha_Xe}}</a>
                                    <span class="operator-rating d-flex align-items-center">{{{generateStarList Xe.Nha_Xe.stars}}}</span>
                                </div>
                                <span class="bus-type">{{Xe.Loai_Xe.Ten_Loai}}</span>
                                <div class="d-flex flex-column result-time">
                                    <div>
                                        <i class="fa-solid fa-location-dot me-2"></i>
                                        <span class="depart-time">{{{formatTime Gio_Bat_Dau}}}</span>
                                    </div>
                                    <div class="d-flex">
                                        <div class="d-flex flex-column justify-content-center ms-1 me-3">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </div>
                                        <span class="travel-time">{{Tong_Thoi_Gian_Hanh_Trinh}}h</span>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-location-dot me-2"></i>
                                        <span class="arrive-time">{{{formatTime Gio_Den}}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 info-container d-flex flex-column justify-content-between align-items-end">
                                <span class="price">Từ {{Gia_Ve}}đ</span>
                                <div class="d-flex flex-column justify-content-center align-items-end">
                                    <span class="seat-quantity">Còn {{Xe.So_Luong_Ghe}} chỗ trống</span>
                                    <a href="/chuyenxe/{{id}}">
                                        <button class="btn btn-primary btn-select" type="button">
                                            <span class="d-inline">Chọn chuyến</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="row result-empty d-flex align-items-center">
                            <span class="mt-4">Không có kết quả.</span>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- Filter & Listing section end -->
    </form>
</div>

<script>
    function handleLocationInput() {
        let form_control = event.target
            .parentNode.parentNode.querySelector('input');
        let text = event.target.innerHTML;
        form_control.value = text.trim();
    }
    function swapLocationInput() {
        let first_form = event.target.parentNode.querySelector('#first_form');
        let first_input = first_form.querySelector('input');
        let second_form = event.target.parentNode.querySelector('#destination_form');
        let second_input = second_form.querySelector('input');
        let temp = first_input.value;
        first_input.value = second_input.value;
        second_input.value = temp;
    }
</script>